## Preprocessing

In [5]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
pip install tensorflow

Collecting tensorflow
  Downloading tensorflow-2.11.0-cp39-cp39-macosx_10_14_x86_64.whl (244.3 MB)
     |████████████████████████████████| 244.3 MB 3.5 kB/s eta 0:00:015    |████████▏                       | 62.3 MB 5.4 MB/s eta 0:00:34     |████████████▉                   | 98.0 MB 3.9 MB/s eta 0:00:38.3 MB 3.3 MB/s eta 0:00:39     |████████████████████████▏       | 184.8 MB 1.2 MB/s eta 0:00:49
Requirement already satisfied: packaging in /Users/miriam/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (21.3)
Collecting keras<2.12,>=2.11.0
  Downloading keras-2.11.0-py2.py3-none-any.whl (1.7 MB)
     |████████████████████████████████| 1.7 MB 5.2 MB/s eta 0:00:01
Collecting google-pasta>=0.1.1
  Downloading google_pasta-0.2.0-py3-none-any.whl (57 kB)
     |████████████████████████████████| 57 kB 1.8 MB/s eta 0:00:01
Requirement already satisfied: h5py>=2.9.0 in /Users/miriam/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (3.6.0)
Requirement already satisfied: wrapt>=1.11.0 in /Users/miriam/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (1.12.1)
Collecting flatbuffers>=2.0
  Downloading flatbuffers-23.1.21-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: typing-extensions>=3.6.6 in /Users/miriam/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (4.1.1)
Requirement already satisfied: six>=1.12.0 in /Users/miriam/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (1.16.0)
Collecting tensorflow-io-gcs-filesystem>=0.23.1
  Downloading tensorflow_io_gcs_filesystem-0.30.0-cp39-cp39-macosx_10_14_x86_64.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 9.9 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.20 in /Users/miriam/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (1.21.5)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /Users/miriam/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (3.19.1)
Collecting gast<=0.4.0,>=0.2.1
  Downloading gast-0.4.0-py3-none-any.whl (9.8 kB)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /Users/miriam/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (1.42.0)
Collecting absl-py>=1.0.0
  Downloading absl_py-1.4.0-py3-none-any.whl (126 kB)
     |████████████████████████████████| 126 kB 14.3 MB/s eta 0:00:01
Collecting opt-einsum>=2.3.2
  Downloading opt_einsum-3.3.0-py3-none-any.whl (65 kB)
     |████████████████████████████████| 65 kB 9.5 MB/s  eta 0:00:01
Collecting tensorboard<2.12,>=2.11
  Downloading tensorboard-2.11.2-py3-none-any.whl (6.0 MB)
     |████████████████████████████████| 6.0 MB 4.1 MB/s eta 0:00:01     |████████████████████▎           | 3.8 MB 7.4 MB/s eta 0:00:01
Collecting tensorflow-estimator<2.12,>=2.11.0
  Downloading tensorflow_estimator-2.11.0-py2.py3-none-any.whl (439 kB)
     |████████████████████████████████| 439 kB 2.8 MB/s eta 0:00:01
Collecting libclang>=13.0.0
  Downloading libclang-15.0.6.1-py2.py3-none-macosx_10_9_x86_64.whl (25.0 MB)
     |████████████████████████████████| 25.0 MB 7.9 MB/s eta 0:00:01     |████████████████████████████████| 25.0 MB 7.9 MB/s
Collecting termcolor>=1.1.0
  Downloading termcolor-2.2.0-py3-none-any.whl (6.6 kB)
Requirement already satisfied: setuptools in /Users/miriam/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (61.2.0)
Collecting astunparse>=1.6.0
  Downloading astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /Users/miriam/opt/anaconda3/lib/python3.9/site-packages (from astunparse>=1.6.0->tensorflow) (0.37.1)
Requirement already satisfied: markdown>=2.6.8 in /Users/miriam/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (3.3.4)
Requirement already satisfied: werkzeug>=1.0.1 in /Users/miriam/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (2.2.2)
Requirement already satisfied: requests<3,>=2.21.0 in /Users/miriam/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (2.27.1)
Collecting tensorboard-data-server<0.7.0,>=0.6.0
  Downloading tensorboard_data_server-0.6.1-py3-none-macosx_10_9_x86_64.whl (3.5 MB)
     |████████████████████████████████| 3.5 MB 4.9 MB/s eta 0:00:01
Collecting tensorboard-plugin-wit>=1.6.0
  Downloading tensorboard_plugin_wit-1.8.1-py3-none-any.whl (781 kB)
     |████████████████████████████████| 781 kB 5.3 MB/s eta 0:00:01
Collecting google-auth-oauthlib<0.5,>=0.4.1
  Downloading google_auth_oauthlib-0.4.6-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: google-auth<3,>=1.6.3 in /Users/miriam/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (1.33.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/miriam/opt/anaconda3/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/miriam/opt/anaconda3/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /Users/miriam/opt/anaconda3/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (4.2.2)
Collecting requests-oauthlib>=0.7.0
  Downloading requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /Users/miriam/opt/anaconda3/lib/python3.9/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (0.4.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/miriam/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/miriam/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/miriam/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/miriam/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (1.26.9)
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.2.2-py3-none-any.whl (151 kB)
     |████████████████████████████████| 151 kB 6.4 MB/s eta 0:00:01
Requirement already satisfied: MarkupSafe>=2.1.1 in /Users/miriam/opt/anaconda3/lib/python3.9/site-packages (from werkzeug>=1.0.1->tensorboard<2.12,>=2.11->tensorflow) (2.1.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/miriam/opt/anaconda3/lib/python3.9/site-packages (from packaging->tensorflow) (3.0.4)
Installing collected packages: oauthlib, requests-oauthlib, tensorboard-plugin-wit, tensorboard-data-server, google-auth-oauthlib, absl-py, termcolor, tensorflow-io-gcs-filesystem, tensorflow-estimator, tensorboard, opt-einsum, libclang, keras, google-pasta, gast, flatbuffers, astunparse, tensorflow
Successfully installed absl-py-1.4.0 astunparse-1.6.3 flatbuffers-23.1.21 gast-0.4.0 google-auth-oauthlib-0.4.6 google-pasta-0.2.0 keras-2.11.0 libclang-15.0.6.1 oauthlib-3.2.2 opt-einsum-3.3.0 requests-oauthlib-1.3.1 tensorboard-2.11.2 tensorboard-data-server-0.6.1 tensorboard-plugin-wit-1.8.1 tensorflow-2.11.0 tensorflow-estimator-2.11.0 tensorflow-io-gcs-filesystem-0.30.0 termcolor-2.2.0
Note: you may need to restart the kernel to use updated packages.

In [6]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [7]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
appSeries = application_df['APPLICATION_TYPE'].value_counts()
appSeries

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
app_cutoff = 500

application_types_to_replace = []

for item in appSeries.index:
    if appSeries[item]<app_cutoff:
        application_types_to_replace.append(item)
        
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [10]:


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Look at CLASSIFICATION value counts for binning
classSeries = application_df['CLASSIFICATION'].value_counts()
classSeries

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [12]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#find list of values to drop
for item in classSeries.index:
    if classSeries[item] == 1:
        application_df = application_df[application_df.CLASSIFICATION != item]
        classSeries = classSeries.drop(item)
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C4100        6
C1720        6
C2400        6
C1600        5
C1257        5
C1260        3
C2710        3
C0           3
C1267        2
C1256        2
C1234        2
C1246        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
class_cutoff = 100

classifications_to_replace= []

for item in classSeries.index:
    if classSeries[item]<class_cutoff:
        classifications_to_replace.append(item)
        
classifications_to_replace

['C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256']

In [14]:


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      643
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [15]:
# Convert categorical data to numeric with `pd.get_dummies`
type_list = application_df.dtypes
type_list

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [16]:
application_df = pd.get_dummies(application_df, columns=type_list.index)
application_df

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,ASK_AMT_1893400128,ASK_AMT_2264109450,ASK_AMT_2310256039,ASK_AMT_3391919220,ASK_AMT_4653011914,ASK_AMT_5591584994,ASK_AMT_8556638692,ASK_AMT_8597806340,IS_SUCCESSFUL_0,IS_SUCCESSFUL_1
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
34296,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
34297,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
34298,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [19]:
# Split our preprocessed data into our features and target arrays
y = application_df.IS_SUCCESSFUL_1.values
X = application_df.drop(columns="IS_SUCCESSFUL_1").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [20]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [21]:
input_dimensions=X.shape[1]
input_dimensions

8790

## Compile, Train and Evaluate the Model

In [22]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn_model = tf.keras.models.Sequential()

nn_model.add(tf.keras.layers.Dense(units=8, activation="relu", input_dim=input_dimensions))

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=8, activation="relu"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=8, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 70328

 dense_1 (Dense)             (None, 8)                 72

 dense_2 (Dense)             (None, 8)                 72

 dense_3 (Dense)             (None, 1)                 9

=================================================================
Total params: 70,481
Trainable params: 70,481
Non-trainable params: 0
_________________________________________________________________

2023-02-01 18:56:46.563339: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [23]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [24]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 4ms/step - loss: 0.3154 - accuracy: 0.8291
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.1171 - accuracy: 0.9505
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0367 - accuracy: 0.9872
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0152 - accuracy: 0.9946
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0061 - accuracy: 0.9979
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0035 - accuracy: 0.9987
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0024 - accuracy: 0.9989
Epoch 8/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0015 - accuracy: 0.9995
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0012 - accuracy: 0.9996
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 8.5444e-04 - accuracy: 0.9997
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 5.4840e-04 - accuracy: 0.9999
Epoch 12/100
804/804 [==============================] - 3s 3ms/step - loss: 6.6225e-04 - accuracy: 0.9998
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 7.9388e-04 - accuracy: 0.9997
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 6.4641e-04 - accuracy: 0.9998
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 7.3476e-04 - accuracy: 0.9998
Epoch 16/100
804/804 [==============================] - 3s 3ms/step - loss: 7.3297e-04 - accuracy: 0.9998
Epoch 17/100
804/804 [==============================] - 3s 3ms/step - loss: 7.5734e-04 - accuracy: 0.9997
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0011 - accuracy: 0.9997
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 1.9803e-04 - accuracy: 1.0000
Epoch 20/100
804/804 [==============================] - 3s 3ms/step - loss: 6.3108e-05 - accuracy: 1.0000
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 3.9445e-04 - accuracy: 0.9999
Epoch 22/100
804/804 [==============================] - 3s 3ms/step - loss: 5.9920e-04 - accuracy: 0.9999
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 5.2977e-04 - accuracy: 0.9999
Epoch 24/100
804/804 [==============================] - 3s 3ms/step - loss: 3.8984e-04 - accuracy: 0.9998
Epoch 25/100
804/804 [==============================] - 3s 4ms/step - loss: 3.5461e-05 - accuracy: 1.0000
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 1.6766e-05 - accuracy: 1.0000
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 5.4110e-04 - accuracy: 0.9999
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 3.0934e-04 - accuracy: 0.9999
Epoch 29/100
804/804 [==============================] - 3s 3ms/step - loss: 8.9928e-05 - accuracy: 0.9999
Epoch 30/100
804/804 [==============================] - 3s 3ms/step - loss: 1.8708e-05 - accuracy: 1.0000
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 7.4948e-06 - accuracy: 1.0000
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 5.8441e-06 - accuracy: 1.0000
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 4.0825e-06 - accuracy: 1.0000
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 3.5373e-06 - accuracy: 1.0000
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 2.5440e-06 - accuracy: 1.0000
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 1.6866e-05 - accuracy: 1.0000
Epoch 37/100
804/804 [==============================] - 3s 3ms/step - loss: 3.5983e-04 - accuracy: 0.9999
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 4.9313e-04 - accuracy: 0.9998
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 7.2670e-06 - accuracy: 1.0000
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0016 - accuracy: 0.9995
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0126 - accuracy: 0.9970
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0772 - accuracy: 0.9705
Epoch 43/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0415 - accuracy: 0.9812
Epoch 44/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0119 - accuracy: 0.9953
Epoch 45/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0036 - accuracy: 0.9988
Epoch 46/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0017 - accuracy: 0.9994
Epoch 47/100
804/804 [==============================] - 3s 3ms/step - loss: 8.4546e-04 - accuracy: 0.9997
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 5.1738e-04 - accuracy: 0.9999
Epoch 49/100
804/804 [==============================] - 3s 3ms/step - loss: 1.8528e-04 - accuracy: 1.0000
Epoch 50/100
804/804 [==============================] - 3s 4ms/step - loss: 1.0882e-04 - accuracy: 1.0000
Epoch 51/100
804/804 [==============================] - 3s 3ms/step - loss: 6.6383e-05 - accuracy: 1.0000
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 4.1766e-05 - accuracy: 1.0000
Epoch 53/100
804/804 [==============================] - 3s 3ms/step - loss: 2.7075e-05 - accuracy: 1.0000
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 1.6953e-05 - accuracy: 1.0000
Epoch 55/100
804/804 [==============================] - 3s 3ms/step - loss: 8.5274e-05 - accuracy: 1.0000
Epoch 56/100
804/804 [==============================] - 3s 3ms/step - loss: 3.8298e-05 - accuracy: 1.0000
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 1.7259e-05 - accuracy: 1.0000
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 6.9766e-06 - accuracy: 1.0000
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 4.7088e-06 - accuracy: 1.0000
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 1.2780e-06 - accuracy: 1.0000
Epoch 61/100
804/804 [==============================] - 3s 4ms/step - loss: 7.9771e-07 - accuracy: 1.0000
Epoch 62/100
804/804 [==============================] - 3s 3ms/step - loss: 5.3049e-07 - accuracy: 1.0000
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 3.6840e-07 - accuracy: 1.0000
Epoch 64/100
804/804 [==============================] - 3s 3ms/step - loss: 9.9469e-07 - accuracy: 1.0000
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 2.2781e-07 - accuracy: 1.0000
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 1.0157e-07 - accuracy: 1.0000
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 6.5428e-08 - accuracy: 1.0000
Epoch 68/100
804/804 [==============================] - 3s 3ms/step - loss: 4.4270e-08 - accuracy: 1.0000
Epoch 69/100
804/804 [==============================] - 3s 3ms/step - loss: 4.5709e-08 - accuracy: 1.0000
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 5.1442e-08 - accuracy: 1.0000
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 3.3209e-06 - accuracy: 1.0000
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0115 - accuracy: 0.9966
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0440 - accuracy: 0.9882
Epoch 74/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0142 - accuracy: 0.9955
Epoch 75/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0024 - accuracy: 0.9995
Epoch 76/100
804/804 [==============================] - 3s 3ms/step - loss: 7.3333e-04 - accuracy: 0.9999
Epoch 77/100
804/804 [==============================] - 3s 4ms/step - loss: 2.3492e-04 - accuracy: 1.0000
Epoch 78/100
804/804 [==============================] - 3s 3ms/step - loss: 1.1448e-04 - accuracy: 1.0000
Epoch 79/100

804/804 [==============================] - 2s 3ms/step - loss: 6.7176e-05 - accuracy: 1.0000
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 4.3457e-05 - accuracy: 1.0000
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 3.0886e-05 - accuracy: 1.0000
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 2.7669e-05 - accuracy: 1.0000
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 9.4395e-06 - accuracy: 1.0000
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 7.2120e-06 - accuracy: 1.0000
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 1.2861e-04 - accuracy: 1.0000
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 7.9379e-05 - accuracy: 1.0000
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 5.5492e-05 - accuracy: 1.0000
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 1.0260e-05 - accuracy: 1.0000
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 1.8667e-06 - accuracy: 1.0000
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 1.6790e-06 - accuracy: 1.0000
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 1.0731e-06 - accuracy: 1.0000
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 8.2120e-07 - accuracy: 1.0000
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 5.9125e-07 - accuracy: 1.0000
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 5.4916e-07 - accuracy: 1.0000
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 3.5911e-07 - accuracy: 1.0000
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 1.4099e-06 - accuracy: 1.0000
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 3.3528e-07 - accuracy: 1.0000
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 1.6796e-07 - accuracy: 1.0000
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 7.2311e-08 - accuracy: 1.0000
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 4.5805e-08 - accuracy: 1.0000

In [26]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.0448 - accuracy: 0.9965 - 672ms/epoch - 3ms/step
Loss: 0.044759564101696014, Accuracy: 0.9964990019798279

In [38]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity.h5')

# The model has achieved 99.6% accuracy, ahead of the 75% target.